<%= render style_override_component %>

<header>
  <div class="identity-bar">
    <div class="container">
      <a class="su-brand-bar__logo" href="https://www.stanford.edu">Stanford University</a>
    </div>
  </div>
  <%= tag.nav class: navbar_classes do %>
    <div class="container">
      <%= render SdrViewComponents::Structure::HeaderSulLogoComponent.new(sul_logo:) %>
      <button
        class="navbar-toggler navbar-toggler-right collapsed"
        type="button"
        data-toggle="collapse"
        data-bs-toggle="collapse"
        data-target="#user-util-collapse"
        data-bs-target="#user-util-collapse"
        aria-controls="user-util-collapse"
        aria-expanded="false"
        aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="d-md-block d-none">
        <ul class="navbar-nav">
          <% primary_navigation_links.each do |link| %>
            <%= link %>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <%= tag.div class: masthead_classes do %>
    <div class="container">
      <div class="d-flex flex-wrap align-items-end pt-3 pb-1 pb-md-3 gap-2">
        <div class="d-flex align-items-end gap-2 flex-grow-1">
          <%= render SdrViewComponents::Structure::HeaderRosetteComponent.new if rosette %>
          <div class="me-1 flex-grow-1">
            <%= render SdrViewComponents::Structure::HeaderTitleComponent.new(title:) %>
            <%= render SdrViewComponents::Structure::HeaderSubtitleComponent.new(subtitle:) %>
          </div>
        </div>
        <div class="<%= navbar_classes %> ms-md-auto">
          <nav class="collapse navbar-collapse align-items-start justify-content-md-end navbar-expand-md d-md-flex flex-column flex-md-row" aria-label="browse" id="user-util-collapse">
            <% if secondary_navigation_links.any? %>
              <hr class="d-md-none vw-100 my-0">
              <ul class="navbar-nav justify-content-md-end gap-0 gap-md-4 w-100 fw-semibold">
                <% secondary_navigation_links.each do |link| %>
                  <%= link %>
                <% end %>
              </ul>
            <% end %>
            <hr class="d-md-none vw-100 my-0">
            <ul class="navbar-nav d-md-none gap-0 w-100">
              <% primary_navigation_links.each do |link| %>
                <%= link %>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  <% end %>
</header>
